:root {
	--font-family-serif: "Times New Roman", Times, serif;

	--font-family-sans: Arial, Helvetica, sans-serif;
	--font-family-mono: "Menlo", 'Courier New', Courier, monospace;
}

html {
  // https://github.com/dreampulse/computer-modern-web-font
  font-family: var(--font-family-serif);

  // letter-spacing: 0.025em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.katex {
  font-size: 1.05em !important;
	overflow-y: hidden;
	vertical-align: baseline;
}