html .content #main {
  font-size: 16px;
  max-width: 800px;
}

html .content #main p {
  text-align: justify;
}

html, body {
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.katex {
  font-size: 1.02em !important;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  /* padding-top: 4px;
  padding-bottom: 4px; */
}

