html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  background-size: cover;
  box-sizing: border-box;
  font-size: inherit;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

body, html {
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden; }
  body ::-webkit-scrollbar {
    width: 0px; }

html ::-webkit-scrollbar {
  width: 0px; }

img {
  vertical-align: middle; }

:root {
  --color-bg-0: black;
  --color-bg-1-trans: rgba(255, 255, 255, 0.07);
  --color-pencil-1: #E0E0E0;
  --color-pencil-1-trans: rgba(225, 225, 225, 0.88);
  --color-pencil-2: rgba(122, 122, 122, 1);
  --color-pencil-2-trans: rgba(225, 225, 225, 0.48);
  --color-sig-pencil: #F15C5C; }

html, body {
  background-color: var(--color-bg-0);
  color: var(--color-pencil-1); }

a {
  color: inherit; }

:root {
  --font-family-serif: "Times New Roman", Times, serif;
  --font-family-sans: Arial, Helvetica, sans-serif;
  --font-family-mono: "Menlo", 'Courier New', Courier, monospace; }

html {
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  text-decoration: none; }

.katex {
  font-size: 1.08em !important;
  line-height: inherit;
  overflow-y: hidden;
  vertical-align: baseline; }

.katex-display > .katex {
  text-align: left !important;
  padding-left: 24px; }

::selection {
  background-color: var(--color-bg-1-trans);
  color: var(--color-sig-pencil); }

main {
  --content-inner-padding: 16px; }
  main :root {
    --side-bar-width: 280px;
    --side-bar-z-index: 1000; }
  main > .sidebar-toggle {
    position: fixed;
    z-index: calc(var(--side-bar-z-index) + 1); }
  main > .sidebar {
    position: fixed;
    z-index: var(--side-bar-z-index);
    width: var(--side-bar-width);
    height: 100vh;
    top: 0;
    left: 0; }
  main > .content {
    margin-left: var(--side-bar-width); }
    main > .content > .markdown-section {
      width: 880px;
      margin: 0 auto;
      margin-top: 80px;
      padding: 0 40px; }
  main #main > blockquote {
    padding: 16px;
    position: relative;
    display: grid;
    gap: 8px;
    border-radius: 8px;
    transition: background-color 0.2s; }
    main #main > blockquote:hover {
      background-color: var(--color-bg-1-trans); }
  main #main > blockquote h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold; }
    main #main > blockquote h1::before {
      content: "A Walk in the Woods";
      display: block;
      font-size: 18px;
      line-height: 26px;
      color: var(--color-pencil-2);
      font-weight: normal; }
  main #main > blockquote img {
    max-width: 480px;
    border-radius: 8px;
    margin: 8px 0;
    transition: 0.8s; }
    main #main > blockquote img:hover {
      max-width: 500px; }
  main #main > blockquote h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: bold; }
  main #main > blockquote h4 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold; }
    main #main > blockquote h4[id*="antigone"]::before, main #main > blockquote h4[id*="orpheus"]::before {
      content: "";
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      left: 16px;
      border-radius: 1000px;
      border: 1px solid rgba(255, 255, 255, 0.16); }
    main #main > blockquote h4[id*="antigone"], main #main > blockquote h4[id*="antigone"] ~ *, main #main > blockquote h4[id*="orpheus"], main #main > blockquote h4[id*="orpheus"] ~ * {
      margin-left: 48px; }
    main #main > blockquote h4[id*="antigone"]::before {
      background-image: url("https://play-lh.googleusercontent.com/TYXuv6xbVKH6OKllw_y5DSbBHwd7k_ImIJHRaiYifJUJ5rqBgPtSQ-VrbS-Ao1wr9w=w240-h480-rw"); }
    main #main > blockquote h4[id*="orpheus"]::before {
      background-image: url("https://www.institutfrancais.com/sites/default/files/medias/images/phallaina_marietta-ren_smallbang.jpg"); }
  main #main > blockquote h6 {
    font-size: 16px;
    line-height: 1.5; }
  main #main > blockquote p, main #main > blockquote li {
    font-size: 16px;
    line-height: 1.5; }
  main #main > blockquote em {
    border-bottom: 1px dashed var(--color-pencil-2); }
  main #main > blockquote strong {
    color: var(--color-sig-pencil); }
  main #main > blockquote > blockquote {
    padding: 4px 0;
    padding-left: 15px;
    box-shadow: -1px 0 0 var(--color-pencil-2); }
  main #main > blockquote u {
    font-size: 14px;
    line-height: 22px;
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 1000px; }
  main #main > blockquote ul > li {
    list-style: disc;
    margin-left: 24px; }
  main #main > blockquote ol > li {
    list-style: decimal;
    margin-left: 24px; }
  main #main > blockquote p a, main #main > blockquote li a {
    text-decoration: underline; }
  main #main > blockquote hr {
    display: none; }
  main #main > blockquote hr ~ p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-pencil-2); }

body.locked {
  overflow: hidden; }

#char-side-btn {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.56);
  transition: 0.3s;
  pointer-events: none;
  opacity: 0; }
  #char-side-btn.active {
    opacity: 1;
    pointer-events: all; }

[id*="char-side-info-"] {
  position: fixed;
  z-index: 10000;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  right: 0;
  top: 0;
  padding: 64px 24px;
  background-color: var(--color-bg-0);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.16);
  transform: translate(150%, 0);
  opacity: 0;
  transition: 0.3s; }
  [id*="char-side-info-"].active {
    transform: translate(0, 0);
    opacity: 1; }
  [id*="char-side-info-"] .avata {
    width: 120px;
    height: 120px; }
  [id*="char-side-info-"] .char-name {
    font-size: 24px;
    line-height: 32px;
    margin-top: 24px; }
  [id*="char-side-info-"] p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px; }
