// note 这个要放到单独的地方
p, h5, li {
  line-height: 24px;
  // font-family: var(--font-family-serif);
  &:not(:first-of-type) {
    margin-top: 8px;
  }
}

.dialogue-container {
  display: grid;
  grid-template-columns: 56px auto;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;

  &:hover {
    background-color: rgba(black, 0.04);
  }

  .who-container {
    .avada {
      width: 40px;
      height: 40px;
      margin-left: 16px;
      margin-top: 4px;
      background-color: rgba(black, 0.1);
      border-radius: 4px;
      
      transition: 0.3s;
      &:hover {
        transform: rotate(3deg);
      }
    }
  }

  .who {
    font-family: var(--font-family-sans);
    .name {
      font-weight: bold;
      
      // text-transform: uppercase;
    }

    .index {
      &::before {
        content: "\#";
      }

      margin-left: 4px;
      font-size: 12px;
      color: rgba(black, 0.56);
    }
  }

  &.Antigone {
    .avada {
      background-image: url("https://i.pinimg.com/564x/52/d8/f0/52d8f0ebe48f61585735831b19b39b87.jpg");
    }
  }

  &.Orpheus {
    .avada {
      background-image: url("https://i.pinimg.com/564x/b0/b8/6e/b0b86e811425bfcf8cd7844d208e21d9.jpg");
    }
  }
}

