body.locked {
  overflow: hidden;
}


#char-side-btn {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;

  background-color: rgba(black, 0.56);

  transition: 0.3s;
  pointer-events: none;
  opacity: 0;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}


[id*="char-side-info-"] {
  position: fixed;
  z-index: 10000;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  right: 0;
  top: 0;
  padding: 64px 24px;
  background-color: var(--color-bg-0);
  box-shadow: -1px 0 0 rgba(white, 0.16);

  transform: translate(150%, 0);
  opacity: 0;
  transition: 0.3s;

  &.active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .avata {
    width: 120px;
    height: 120px;
    
  }

  .char-name {
    font-size: 24px;
    line-height: 32px;
    margin-top: 24px;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
  }
}